* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.oscurecer-fondo {
    background-color: rgba(0, 0, 0, 0.519);
}

 /*Header*/
header {
    background-image: url(../img/header-background1.jpg);

    height: 95vh;
    background-size: cover;
}

.header-btn {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

/* Main - Mis proyectos*/
.carousel-img {
    height: 20rem;
    object-fit: cover;
}

/* Footer */

footer {
    background-image: url(../img/footer-background.jpg);
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
}


.logo-footer {
    width: 3.5rem;
}

.logo-container {
    background-color: #fff;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}