* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


header {
    background-image: url(../img/header-background1.jpg);

    height: 95vh;
    background-size: cover;
}

.header-btn {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

.oscurecer-fondo {
    background-color: rgba(0, 0, 0, 0.519);
}